# Build results
bin/
obj/
out/
*.user
*.suo

# Visual Studio / Rider
.vs/
.vscode/
.idea/
*.userprefs

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Test results
TestResults/
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
coverage*.info

# ASP.NET Core
appsettings.Development.json
appsettings.*.local.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db
